<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>javawebshop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
   <filter>
    <filter-name>userLoginFilter</filter-name>
    <filter-class>com.shop.filter.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>userLoginFilter</filter-name>
    <url-pattern>/Home.jsp</url-pattern>
    <url-pattern>/EditUser.jsp</url-pattern>
    <url-pattern>/Product.jsp</url-pattern>
    <url-pattern>/ShopCart.jsp</url-pattern>
     <url-pattern>/MyOrder.jsp</url-pattern>
     <url-pattern>/AddCartItem.jsp</url-pattern>
     <url-pattern>/BuyProduct.jsp</url-pattern>
     <url-pattern>/UpdateCartItem.jsp</url-pattern>
     <url-pattern>/OrderDetail.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminLoginFilter</filter-name>
    <filter-class>com.shop.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminLoginFilter</filter-name>
    <url-pattern>/AddCategory.jsp</url-pattern>
    <url-pattern>/AddProduct.jsp</url-pattern>
    <url-pattern>/Manage.jsp</url-pattern>
     <url-pattern>/ManageOrderDetail.jsp</url-pattern>
     <url-pattern>/ModifyCategory.jsp</url-pattern>
     <url-pattern>/ModifyProduct.jsp</url-pattern>
     <url-pattern>/UpdateCategory.jsp</url-pattern>
     <url-pattern>/UpdateProduct.jsp</url-pattern>
  </filter-mapping>
</web-app>